{
   "posts": [
   {% for post in site.posts %}
   {% if forloop.last %}
   {
      "id": {{ forloop.index }}, 
      "data": [
         {{ post.title | jsonify }},
         {{ post.description | jsonify }},
         {{ post.date_time | jsonify }},
         {{ post.tags | jsonify }},
         {{ post.content | jsonify }}
      ]
   }
   {% else %}
   {
      "id": {{ forloop.index }}, 
      "data": [
         {{ post.title | jsonify }},
         {{ post.description | jsonify }},
         {{ post.date_time | jsonify }},
         {{ post.tags | jsonify }},
         {{ post.content | jsonify }}
      ]
   },
   {% endif %}
   {% endfor %}
   ]
}
