{
   "posts": [
   {% for post in site.posts %}
   {% if forloop.last %}
   {
      "id": {{ forloop.index }}, 
      "data": {
         "title":{{ post.title | jsonify }},
         "description":{{ post.description | jsonify }},
         "date":{{ post.date_time | jsonify }},
         "tags":{{ post.tags | jsonify }},
         "content":{{ post.content | jsonify }}
      }
   }
   {% else %}
   {
      "id": {{ forloop.index }}, 
      "data": {
         "title":{{ post.title | jsonify }},
         "description":{{ post.description | jsonify }},
         "date":{{ post.date_time | jsonify }},
         "tags":{{ post.tags | jsonify }},
         "content":{{ post.content | jsonify }}
      }
   },
   {% endif %}
   {% endfor %}
   ]
}
